.navbar {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
}


.navbar .logo {
  width: 150px;
  margin-left: 40px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0;
}

.navbar-menu a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navbar-menu a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: tomato; /* Bạn có thể thay đổi màu này nếu muốn */
  transition: width 0.3s ease;
}

.navbar-menu a:hover::after {
  width: 100%;
}
.navbar-menu a.active{
  color: tomato ; 
}
.navbar-menu a:hover {
  color: tomato;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 70px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  padding: 10px 30px;
  border: 1px solid tomato;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.navbar button:hover {
  cursor: pointer;
  background-color: #fff4f2;
}
.navbar .active {
  padding-bottom: 4px;
  border-bottom: 3px solid tomato;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
.navbar-profile{
  position: relative;
  cursor: pointer;
}
.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0px;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  cursor: pointer;
}
.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-profile-dropdown img{
  width: 20px;
}
.nav-profile-dropdown li:hover{
  color: tomato;
}
@media  (max-width:1050px){
    .navbar .logo{
      width: 140px;
    }
    .navbar-menu{
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right{
      gap: 30px;
    }
    .navbar-right img{
      width: 22px;
    }
    .navbar-right button{
      padding: 8px 25px;
    }

}
@media  (max-width:900px){
  .navbar.logo{
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right{
    gap: 20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }

}
@media  (max-width:750px){
    .navbar-menu{
      display: none;
    }
    
}